<div class="app_table" id="notes">
<table class="app_help">
  <thead>
    <th>Notes on Adding a Person to your Crew</th>
  </thead>
  <tbody>
    <tr>
      <td width="15%">&nbsp;
        <ul>
          <li>Adding a person to your crew allows you to sign them up for games.</li>
          <li>The person must have already created an account on zayso.</li>
          <li>You must enter the person's full name exactly as it appears in zayso.</li>
          <li>Use Family for family members, Peer for others.</li>
          <li><strong>Please make sure the person knows you will be assigning their games.</strong></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
