{# @CeradTourn/Tourn/Header/TournHeaderIndex.html.twig   #}
    <div class="skArea">
      <div class="skWidth">
        <div class="skHeader">
          <div class="skBanners">
            <h1><a href="http://www.aysonationalgames.org/" target="_blank"><img src="{{ asset('bundles/ceradapp/images/header-ipad_01.png') }}" width="100%"></a></h1>
          </div>
        </div>
      </div>

      <center>
        <span class="skFont">AYSO WELCOMES YOU TO PALM BEACH COUNTY, FLORIDA, JULY 5-10, 2016</span>

        <div class="clear-both"></div>
      </center>


      <div class="clear-both"></div>
    </div>
