{# @@CeradTournAdmin/Admin/AdminShowHelp.html.twig  #}
<div class="app_help">
<hr>
<h3>Need help?</h3>
<ul class="cerad-common-help">
<ul class="ul_bullets">
  <li>For help with Match Reporting, contact Art Hundiak at <a href="mailto:ahundiak@gmail.com">ahundiak@gmail.com</a> or at 256-457-5943</li>
  <li>For help with Schedule Management, contact Bill Owen at <a href="mailto:stats@ayso13.org">stats@ayso13.org</a> or at 626-484-5439</li>
  <li>For help with Referee Assignments, contact Jody Kinsey at <a href="mailto:jodykinsey23@gmail.com">jodykinsey23@gmail.com</a> or at 909-262-8806</li>
  <li>For help with Account Management, contact Art Hundiak at <a href="mailto:ahundiak@gmail.com">ahundiak@gmail.com</a> or at 256-457-5943</li>
</ul>
</ul>
</div>