{# @@CeradTournAdmin/Admin/AdminShowHelp.html.twig  #}
<div class="app_help">
<legend>Need help?</legend>
<ul class="cerad-common-help">
<ul class="ul_bullets">
  <li>For help contact Art Hundiak at <a href="mailto:ahundiak@gmail.com">ahundiak@gmail.com</a> or at 256-457-5943</li>
</ul>
</ul>
</div>