{# @CeradTourn/Tourn/Home/TournHomeIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Home Page</h3>

{% include '@CeradTourn/Tourn/Home/TournHomeListPeople.html.twig' %}

{% endblock %}{# end content block #}
