<table>
{% for programName, programRoutes in routes %} 
  <tr><td class="row-hdr" style="border: 1px solid black;">{{ programName }}</td>
  {% for gender, genderUrls in programRoutes %}
    <td style="border: 1px solid black;">
    {% for age, url in genderUrls %}
      <a href="{{ url }}">{{ age ~ cerad_cap_gender(gender) }}</a>
    {% endfor %} {# ages #}
   </td>
  {% endfor %} {# genders #}
  </tr>
{% endfor %}{# programs #}
</table>
