<div class="app_table" id="notes">
<table>
  <thead>
    <th colspan="4">TODO: Game Update Notes</th>
  </thead>
  <tbody>
    <tr>
      <td width="15%">&nbsp;</td>
      <td>
        <ul>
          <li>Be sure to change both Venue and Field if the venue changes</li>
        </ul>
      </td>
      <td>
          <p>Points earned will be calculated</p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </td>
      <td width="15%">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
