{# @CeradTourn/PersonPlan/Update/PersonPlanUpdateHelp.html.twig   #}
<div class="app_help">
<legend>Help</legend>
<ul class="cerad_common_help">
    <li>
        You can come back and modify your information and availability if required.
    </li>
</ul>
</div>
