{# @CeradTourn/Tourn/Index/TournIndexIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Index Page</h3>
<p>Not currently being used.  / just redirects to the welcome page.</p>

{% endblock %}{# end content block #}
