<div class="app_table" id="notes">
<table class="app_help">
  <thead>
    <th>Notes on Adding a Team</th>
  </thead>
  <tbody>
    <tr>
      <td width="15%">&nbsp;
        <ul>
          <li>Adding teams will cause games involving those teams to show up on your schedule.</li>
          <li>This can be handy when choosing which games to officiate.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
