{# @CeradTourn/Tourn/Welcome/TournWelcomeHelp.html.twig   #}
<div class="app_help">
<legend>Need Help?</legend>
<ul class="cerad_common_help">
    <li>
        If you have comments or suggestions, please submit them by <a href="mailto:feedback.ng2016@gmail.com?subject=Registration %20Feedback" target="_top">clicking here</a>.  Thank you for your support.
    </li>
 </ul>
</div>