{# @CeradTourn/Tourn/Welcome/TournWelcomeNotes.html.twig   #}

<div id="notes">
  <legend>Thank you for registering to Referee at the 2016 National Games!</legend>
  <p>Complete your registration by making sure all of the information you've provided is complete.</p>
  <p>Click on "Update My Account" to check your account information.</p>
  <p>Review your plans for the National Games to ensure we understand your availability and the roles you expect to play during the Games. Click on "Update My Plans" to update this information.</p>  
  <p>Sign in and update your plans and availability at any time.</p>
</div>
