{# @CeradTourn/Tourn/Home/TournHomeIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block title %}NG2014: Home{% endblock %}

{% block content %}

{% include '@CeradTourn/Tourn/Home/TournHomeListPeople.html.twig' %}
<br/>
<div class="app_help" style="margin-top:0">
</div>

{% endblock %}{# end content block #}
