{# @CeradTourn/Tourn/UserInfo/TournGuestInfo.html.twig   #}

{#
<div>
    <a href="{{ path('cerad_tourn_account_create') }}">Create New Account</a>&nbsp;
    <a href="{{ path('cerad_tourn_account_user_login') }}">Login Help</a>

<p style="display: inline;" id="user_name">User: Guest</p>
</div>
#}
<ul style="display: inline;">
    <li>User: Guest</li>
</ul>