{# @CeradTourn/Person/Update/AccountUserLoginHelp.html.twig   #}
<div class="app_help">
<legend>Help</legend>
<ul class="cerad_common_help">
  <li>
        Ready to create an account? Click "Create New Account" in the menu above to create an account.
    <li>
        Forgot your ZAYSO account password?  <a href="{{ path('cerad_tourn_account_password_reset_request') }}">Click here to login or to recover your ZAYSO password.</a>
    </li>
    <li>
        Once you create an account, you will be able to modify your information and availability.<br/>
        This is the same system we will be using in the 2016 National Games, so if you have comments or suggestions, please submit them by <a href="mailto:feedback.ng2016@gmail.com@gmail.com?subject=Registration %20Feedback" target="_top">clicking here</a>.  Thank you for your support.
    </li>
 </ul>
</div>