{# @CeradTourn/AccountPassword/ResetRequested/AccountPasswordResetRequestedForm.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Reset Zayso Password</h3>

{% include '@CeradTourn/AccountPassword/ResetRequested/AccountPasswordResetRequestedForm.html.twig' %}
{% include '@CeradTourn/AccountPassword/ResetRequested/AccountPasswordResetRequestedHelp.html.twig' %}

{% if 1 %}
<h5>Show Email Message</h5>
<div>Subject: {{ emailSubject }}</div>
<div>Body:    {{ emailBody | nl2br    }}</div>

{% endif %}

{% endblock %}{# end content block #}
