<table>
  <tr><th class="dwide" colspan="3">Project Persons: {{ projectPersons | length }}</th></tr>
  <tr><th>Account</th><th>Person</th><th>AYSO Info</th></tr>
  {% for projectPerson in projectPersons %}
    {% include '@CeradPerson/Project/Persons/Show/PersonsShowTwigPerson.html.twig' %}
  {% endfor %}
</table>
