<div class="app_table" id="notes">
<table>
  <thead>
    <th>Game Update Notes</th>
  </thead>
  <tbody>
    <tr>
      <td width="15%">&nbsp;
        <ul>
          <li>Do <strong>NOT</strong> change the Date or Time unless approved by the Site Administrator</li>
          <li>If you change the Venue, be sure to change the Field</li>
          <li>Update Home and/or Away as necessary</li>
          <li>Click "Update" or "Reset" after checking your changes</li>
          <li>Click "Return to Schedule" and verify changes to this game</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
