{# @CeradTourn/Account/Create/AccountCreateNotes.html.twig   #}

<div id="notes">
    <p>
        If you volunteered at the 2012 National Games in Tennesee or the 2014 National Games in Southern California, you already have an account and can just <a href="{{ path('cerad_tourn_account_user_login') }}">Sign In</a>.  Should you need help with your password, you can request help by <a href="{{ path('cerad_tourn_account_password_reset_request') }}">clicking here</a>.
    </p>
</div>
<br/>