{# @CeradTourn/Person/Update/AccountCreateHelp.html.twig   #}
<div class="app_help">
<legend>When creating your account...</legend>
<ul class="cerad_common_help">
    <li>
        You can lookup your 8-digit AYSO Volunteer ID on <a href="http://www.eayso.org/" target="_blank">eAYSO.org</a>.  Click on the "Home" label in the upper-right of eAYSO.org (see the illustration below) then click "Update Vounteer Application".
        Your AYSO Volunteer ID will be shown in the table listing your information.<br/>
        <a href="http://www.eayso.org/" target="_blank"><img style="width:50%;margin: 15px;border: 1px solid;" src="{{ asset('bundles/ceradapp/images/eayso_home.png') }}"></a>
    </li>
    <li>
        Please use an email address that you check regularly.  Ideally, you will  be able to receive mail from this account on your mobile device.
    </li>
    <li>
        Your name is just that. Example: Pelops Hellanodikai
    </li>
    <li>
        Password can be whatever you want.  For the purposes of this account, the easier to remember the better.
    </li>
    <li>
        Once you create an account, you will be able to modify your information and availability.
    </li>
</ul>
</div>