{# @CeradTourn/AccountPassword/ResetRequest/AccountPasswordResetRequestForm.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Reset Zayso Password</h3>

{% include '@CeradTourn/AccountPassword/ResetRequest/AccountPasswordResetRequestForm.html.twig' %}
{% include '@CeradTourn/AccountPassword/ResetRequest/AccountPasswordResetRequestHelp.html.twig' %}

{% endblock %}{# end content block #}
