{# @CeradTourn/Person/Update/PersonUpdateHelp.html.twig   #}
<div class="app_help">
<h3>Help</h3>
<ul class="cerad_common_help">
    <li>
        You can back and modify your information and availability if required.
    </li>
</ul>
</div>

