{# @CeradTourn/AccountPassword/ResetRequest/AccountPasswordResetRequestHelp.html.twig #}

<div class="app_help">
<legend>Need Help?</legend>
<ul class="cerad_common_help" style="width: 600px;">
    <li>Enter your ZAYSO email.</li>
    <li>If a ZAYSO account exists you will be sent an email with a reset code.</li>
    <li>The code can then be used to change your password.</li>
</ul>

