{# @CeradTourn/AccountPassword/ResetEmail/AccountPasswordResetEmailShow.html.twig   #}

<h3>For debugging password reset emails</h3>

{% include '@CeradTourn/AccountPassword/ResetEmail/AccountPasswordResetEmailSubject.html.twig' %}
{% include '@CeradTourn/AccountPassword/ResetEmail/AccountPasswordResetEmailContent.html.twig' %}


