{# @CeradTourn/Tourn/UserInfo/TournAdminInfo.html.twig   #}

<ul style="display: inline;">
    <li>Admin User: {{ user.accountName }}</li>
    <li><a href="{{ path('cerad_tourn_home') }}">Home</a></li>
    <li><a href="{{ path('cerad_tourn_account_user_logout') }}">Logout</a></li>
</ul>
