{# @CeradTourn/Person/Update/PersonUpdateIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Update Person</h3>

{% include '@CeradTourn/Person/Update/PersonUpdateForm.html.twig' %}
{% include '@CeradTourn/Person/Update/PersonUpdateHelp.html.twig' %}

{% endblock %}{# end content block #}
