{# @CeradTourn/AccountPassword/ResetRequested/AccountPasswordResetedRequestHelp.html.twig #}

<div class="app_help">
<legend>Need Help?</legend>
<ul class="cerad_common_help" style="width: 600px;">
    <li>
        Your Password Reset Token is: {{ userToken }}
    </li>
    <li>
        Enter your new password and press the button.
    </li>
</ul>

