{# @CeradTourn/AccountPassword/ResetRequested/AccountPasswordResetedRequestHelp.html.twig #}

<div class="app_help">
<legend>Need Help?</legend>
<ul class="cerad_common_help" style="width: 600px;">
    <li>
        Check your spam folder if you did not receive a reset email.
    </li>
    <li>
        Enter the 4-digit token sent in the email and your new password.
    </li>
</ul>

