{# @CeradTourn/Tourn/Welcome/TournWelcomeIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}

<div style="padding: 0 10px;float: right;">
<a href="{{ path('cerad_tourn_account_create') }}">Create New Account</a>&nbsp;
<a href="{{ path('cerad_tourn_account_user_login') }}">Login Help</a>
</div>

{% include '@CeradTourn/Tourn/Welcome/TournWelcomeNotes.html.twig' %}
<hr />
{% render(controller('CeradTournBundle:AccountUser/AccountUserLogin:loginForm')) %}

{% endblock %}{# end content block #}
