{# @CeradTourn/ResultsPoolPlay/ResultsPoolPlayIndex.html.twig #}
<a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U16B_Core'}) }}">U16 Boys </a>
<a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U16G_Core'}) }}">U16 Girls</a>
<a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U19B_Core'}) }}">U19 Boys </a>
<a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U19G_Core'}) }}">U19 Girls</a>
