{# @CeradTourn/Account/Create/AccountCreateIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Create New Zayso Account</h3>

{% include '@CeradTourn/Account/Create/AccountCreateForm.html.twig' %}
{% include '@CeradTourn/Account/Create/AccountCreateHelp.html.twig' %}

{% endblock %}{# end content block #}
