{# @CeradTourn/Account/Create/AccountCreateHelp.html.twig   #}
<h1>Help</h1>
<ul class="cerad_common_help" style="width: 600px;">
    <li>By popular demand, you can now create a zayso tournament account.
        This in turn will let you avoid having to retype all your information for each tournament.
        You will also be able to come back and modify your availability if required.
    </li>
    <li>
        Already have a Zayso account? 
        You get a mesage saying that your arbiter email already exists?
        <a href="">Click here to login or to recover your Zayso password.</a>
    <li>
        It would be really nice if you could input your 16 digit USSF id number.
        You can find it on your USSF referee card that you get sent each year.
        You can also ask your assignor or even me.
        But if really really really don't know it then just leave it blank.
    </li>
    <li>
        Please use your actual arbiter email.  It will help tie your account to your referee history.
        We also assume that you monitor the email for assignments.
        The email does need to be unique.  
        You will use it when you sign back into zayso.
    </li>
    <li>
        Your name is just that. Example: Pelops Hellanodikis
    </li>
    <li>Password can be whatever you want.</li>
</ul>

