{# Only get loaded for ROLE_USER #}

    <li>
      <a href="{{ path('cerad_tourn_person_update') }}">UPDATE MY ACCOUNT</a>
    </li>
    <li>
      <a href="{{ path('cerad_tourn_person_plan_update') }}">UPDATE MY PLANS</a>
    </li>
  
   <li>
    <a href="{{ path('cerad_tourn_user_logout') }}">SIGN OUT</a>
  </li>
  
 